<h1>Modify Team</h1>

<form action="/home/modifyteam">


    <table>
        <tr>
            <td>Наименование</td>
            <td></td>
        </tr>

        <tr style="margin: 5px">
            <td style="padding: 5px">Id</td>
            <td style="padding: 5px">
                <input type="hidden" value="" />
            </td>
        </tr>

        <tr style="margin: 5px">
            <td style="padding: 5px">CreateDate</td>
            <td style="padding: 5px">
                <input type="date" value="" name="CreateDate" />
            </td>
        </tr>

        <tr style="margin: 5px">
            <td style="padding: 5px">PictureUrl</td>
            <td style="padding: 5px">
                <input type="text" value="" name="PictureUrl" />
            </td>
        </tr>
        <tr>
            <td>FullName</td>
            <td>
                <input type="hidden" value="" />
            </td>
        </tr>
        <tr>
            <td>Position</td>
            <td>
                <input type="hidden" value="" />
            </td>
        </tr>
        <tr>
            <td>Desctiption</td>
            <td>
                <input type="hidden" value="" />
            </td>
        </tr>
    </table>

    <hr />
    <button type="submit">Сохранить</button>

</form>